section.feedback
    .outer
        .inner 
            .review 
                .review__content 
                    h2.title.title_green.review__title Наши клиенты остаются довольны на 
                        span 100%
                    p Мы не даём обещаний, которые не можем выполнить. Мы выполняем все наши обещания!
                    div(data-stars='4.9' data-id='stars' data-text='средняя оценка').popular__model-stars
                    a(href="#") Написать отзыв

                .review__slider.review__slider-js
                    button.slider__btn.review__slider-btn.review__slider-prev-btn-js
                        <svg width="6" height="13" viewBox="0 0 6 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.7272 12.0411L6 11.7706L0.545403 6.35693L6 0.943274L5.7272 0.672716L4.96929e-07 6.35693L5.7272 12.0411Z"/>
                        </svg>
                    button.slider__btn.slider__btn-next.review__slider-btn.review__slider-next-btn-js
                        <svg width="6" height="13" viewBox="0 0 6 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.7272 12.0411L6 11.7706L0.545403 6.35693L6 0.943274L5.7272 0.672716L4.96929e-07 6.35693L5.7272 12.0411Z"/>
                        </svg>
                    .review__wrapper.swiper-wrapper 
                        .swiper-slide
                            .review__decor 
                                +icon('quote')
                            .review__top
                                .review__name Виктория
                                    span Московская область
                                .review__date Опубликовано вчера 18:00
                            .review__content
                                p У древних славян дверь несла в себе символику границы и смысл входа и выхода. 
                                p В отличие от ворот, дверь представляла собой границу жилого пространства и осуществляла его связь ...
                            .review__photos
                                img(src="./images/photo1.jpg" alt='photo 1')
                                img(src="./images/photo2.jpg" alt='photo 2')
                                img(src="./images/photo3.jpg" alt='photo 3')
                            .review__bottom 
                                div(data-stars='5.0' data-id='stars').popular__model-stars    
                        .swiper-slide
                            .review__decor 
                                +icon('quote')
                            .review__top
                                .review__name Виктория
                                    span Московская область
                                .review__date Опубликовано вчера 18:00
                            .review__content
                                p У древних славян дверь несла в себе символику границы и смысл входа и выхода. 
                                p В отличие от ворот, дверь представляла собой границу жилого пространства и осуществляла его связь ...
                            .review__photos
                                img(src="./images/photo1.jpg" alt='photo 1')
                                img(src="./images/photo2.jpg" alt='photo 2')
                                img(src="./images/photo3.jpg" alt='photo 3')
                            .review__bottom 
                                div(data-stars='5.0' data-id='stars').popular__model-stars  