mixin links()
    section(style="margin-bottom: 69px;")
        .outer                
            .inner
                ul.links
                    li(style="--bg-1:url(/images/bg4.png);")
                        img(src="./images/door/door-link1.png" alt='Популярные модели')
                        .link__content
                            p Популярные модели
                            a(href="#") Смотреть
                    li(style="--bg-1:url(/images/bg5.png);")
                        img(src="./images/door/door-link2.png" alt='Для саун и бань')
                        .link__content
                            p Для&nbsp;саун и&nbsp;бань
                            a(href="#") Смотреть
                    li(style="--bg-1:url(/images/bg6.png);")
                        img(src="./images/door/door-link3.png" alt='Бюджетные варианты')
                        .link__content
                            p Бюджетные варианты
                            a(href="#") Смотреть