mixin slider()
    section
        .outer
            .inner 
                .slider 
                    .slider__tabs 
                        ul
                            li(data-tab="1")._active Популярное
                            li(data-tab="2") Новинки
                                span 2022
                            li(data-tab="3") Распродажа
            .slider__content
                .slider__tab.swiper-door-js.inner
                    .swiper-wrapper 
                        a(href="#").slider__slide.swiper-slide
                            .model__content.model__content_vertical
                                img(src='/images/door/image1.png' alt="Легенда-22")
                                .model__info
                                    .model__label
                                    .model__name Дверь межкомнатная остеклённая Легенда-22
                                    .model__size 80x200 см
                                    div(data-stars='5.0' data-id='stars').model__stars
                                    .model__bottom
                                        .price.price_mini 
                                            .price__old 9 500р.
                                            .price__new 3 993р.
                                        .model__nal Наличие: 
                                            span в наличии
                                        .model__material Материал:
                                            span экошпон
                                        button(data-id="openmodal")  
                                            p Купить
                        a(href="#").slider__slide.swiper-slide
                            .model__content.model__content_vertical
                                img(src='/images/door/image2.png' alt="Легенда-22")
                                .model__info
                                    .model__label
                                    .model__name Межкомнатная дверь массив дуба Дверцов Ливорно глухая
                                    .model__size 80x200 см
                                    div(data-stars='5.0' data-id='stars').model__stars
                                    .model__bottom
                                        .price.price_mini 
                                            .price__old 9 500р.
                                            .price__new 3 993р.
                                        .model__nal Наличие: 
                                            span в наличии
                                        .model__material Материал:
                                            span экошпон
                                        button(data-id="openmodal")  
                                            p Купить
                        a(href="#").slider__slide.swiper-slide
                            .model__content.model__content_vertical
                                img(src='/images/door/image3.png' alt="Легенда-22")
                                .model__info
                                    .model__label Хит продаж
                                    .model__name Межкомнатная дверь массив ольхи ОКА 
                                    .model__size 80x200 см
                                    div(data-stars='4.8' data-id='stars').model__stars
                                    .model__bottom
                                        .price.price_mini 
                                            .price__old 9 500р.
                                            .price__new 3 993р.
                                        .model__nal Наличие: 
                                            span в наличии
                                        .model__material Материал:
                                            span экошпон
                                        button(data-id="openmodal")  
                                            p Купить
                        a(href="#").slider__slide.swiper-slide
                            .model__content.model__content_vertical
                                img(src='/images/door/image4.png' alt="Легенда-22")
                                .model__info
                                    .model__label
                                    .model__name Межкомнатная дверь экошпон Profil Doors 
                                    .model__size 80x200 см
                                    div(data-stars='5.0' data-id='stars').model__stars
                                    .model__bottom
                                        .price.price_mini 
                                            .price__old 9 500р.
                                            .price__new 3 993р.
                                        .model__nal Наличие: 
                                            span в наличии
                                        .model__material Материал:
                                            span экошпон
                                        button(data-id="openmodal")  
                                            p Купить
                        a(href="#").slider__slide.swiper-slide
                            .model__content.model__content_vertical
                                img(src='/images/door/image5.png' alt="Легенда-22")
                                .model__info
                                    .model__label
                                    .model__name Дверь межкомнатная остеклённая Легенда-22
                                    .model__size 80x200 см
                                    div(data-stars='5.0' data-id='stars').model__stars
                                    .model__bottom
                                        .price.price_mini 
                                            .price__old 9 500р.
                                            .price__new 3 993р.
                                        .model__nal Наличие: 
                                            span в наличии
                                        .model__material Материал:
                                            span экошпон
                                        button(data-id="openmodal")  
                                            p Купить
                        a(href="#").slider__slide.swiper-slide
                            .model__content.model__content_vertical
                                img(src='/images/door/image6.png' alt="Легенда-22")
                                .model__info
                                    .model__label.popular__model-label
                                    .model__name Межкомнатная дверь массив дуба Дверцов Ливорно глухая
                                    .model__size 80x200 см
                                    div(data-stars='5.0' data-id='stars').model__stars
                                    .model__bottom
                                        .price.price_mini 
                                            .price__old 9 500р.
                                            .price__new 3 993р.
                                        .model__nal Наличие: 
                                            span в наличии
                                        .model__material Материал:
                                            span экошпон
                                        button(data-id="openmodal")  
                                            p Купить
                        a(href="#").slider__slide.swiper-slide
                            .model__content.model__content_vertical
                                img(src='/images/door/image1.png' alt="Легенда-22")
                                .model__info
                                    .model__label.popular__model-label
                                    .model__name Дверь межкомнатная остеклённая Легенда-22
                                    .model__size 80x200 см
                                    div(data-stars='5' data-id='stars').model__stars
                                    .model__bottom
                                        .price.price_mini 
                                            .price__old 9 500р.
                                            .price__new 3 993р.
                                        .model__nal Наличие: 
                                            span в наличии
                                        .model__material Материал:
                                            span экошпон
                                        button(data-id="openmodal") 
                                            p Купить
                        a(href="#").slider__slide.swiper-slide
                            .model__content.model__content_vertical
                                img(src='/images/door/image2.png' alt="Легенда-22")
                                .model__info
                                    .model__label.popular__model-label 
                                    .model__name Межкомнатная дверь массив дуба Дверцов Ливорно глухая
                                    .model__size 80x200 см
                                    div(data-stars='5.0' data-id='stars').model__stars
                                    .model__bottom
                                        .price.price_mini 
                                            .price__old 9 500р.
                                            .price__new 3 993р.
                                        .model__nal Наличие: 
                                            span в наличии
                                        .model__material Материал:
                                            span экошпон
                                        button(data-id="openmodal")  
                                            p Купить
                        a(href="#").slider__slide.swiper-slide
                            .model__content.model__content_vertical
                                img(src='/images/door/image3.png' alt="Легенда-22")
                                .model__info
                                    .model__label.popular__model-label Хит продаж
                                    .model__name Межкомнатная дверь массив ольхи ОКА 
                                    .model__size 80x200 см
                                    div(data-stars='4.8' data-id='stars').model__stars
                                    .model__bottom
                                        .price.price_mini 
                                            .price__old 9 500р.
                                            .price__new 3 993р.
                                        .model__nal Наличие: 
                                            span в наличии
                                        .model__material Материал:
                                            span экошпон
                                        button(data-id="openmodal")  
                                            p Купить
                        a(href="#").slider__slide.swiper-slide
                            .model__content.model__content_vertical
                                img(src='/images/door/image4.png' alt="Легенда-22")
                                .model__info
                                    .model__label.popular__model-label 
                                    .model__name Межкомнатная дверь экошпон Profil Doors 
                                    .model__size 80x200 см
                                    div(data-stars='5.0' data-id='stars').model__stars
                                    .model__bottom
                                        .price.price_mini 
                                            .price__old 9 500р.
                                            .price__new 3 993р.
                                        .model__nal Наличие: 
                                            span в наличии
                                        .model__material Материал:
                                            span экошпон
                                        button(data-id="openmodal")  
                                            p Купить
                        a(href="#").slider__slide.swiper-slide
                            .model__content.model__content_vertical
                                img(src='/images/door/image5.png' alt="Легенда-22")
                                .model__info
                                    .model__label
                                    .model__name Дверь межкомнатная остеклённая Легенда-22
                                    .model__size 80x200 см
                                    div(data-stars='5.0' data-id='stars').model__stars
                                    .model__bottom
                                        .price.price_mini 
                                            .price__old 9 500р.
                                            .price__new 3 993р.
                                        .model__nal Наличие: 
                                            span в наличии
                                        .model__material Материал:
                                            span экошпон
                                        button(data-id="openmodal")  
                                            p Купить
                        a(href="#").slider__slide.swiper-slide
                            .model__content.model__content_vertical
                                img(src='/images/door/image6.png' alt="Легенда-22")
                                .model__info
                                    .model__label.popular__model-label
                                    .model__name Межкомнатная дверь массив дуба Дверцов Ливорно глухая
                                    .model__size 80x200 см
                                    div(data-stars='5.0' data-id='stars').model__stars
                                    .model__bottom
                                        .price.price_mini 
                                            .price__old 9 500р.
                                            .price__new 3 993р.
                                        .model__nal Наличие: 
                                            span в наличии
                                        .model__material Материал:
                                            span экошпон
                                        button(data-id="openmodal")  
                                            p Купить
                .swiper-pagination